.education{
    top:50px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s ease forwards;
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }}
.education img{
position: relative;
left:150px;
}
@media (max-width:600px) {
    .education img{
        position: relative;
        left:70px;
        } 
}
.education h1{
    color: aliceblue;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.education h4{
    font-family: 'Kalam', serif;
    color: rgb(79, 148, 148);
}
.education h6{
    color: crimson;
    font-family: 'Kalam', serif;
}
.education p{
    color: darkolivegreen;
    font-family: 'Kalam', serif;
}