.intro {
  background-color: black;
  padding: 5vw;
  margin: 0 5vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  text-align: center;
  position: relative;
  top:40px;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

  
  .name {
    color: aliceblue;
    font-size: 5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .intro-spec {
    color: rgb(137, 184, 226);
  }
  .welcome-heading {
    color: rgb(167, 167, 225);
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
  }
  .bavya {
    max-width: 30%;
    height: auto;
    position: relative;
    left:450px;
  }
  
  .para {
    color: aliceblue;
    font-family: cursive;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 900px) {
    .intro {
      padding: 10px;
      margin: 0;
      text-align: center;
      grid-template-columns: 1fr;
    }
  
    .name {
      font-size: 3.5vw;
    }
  
    .bavya {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 20px 0;
      left:0;
    }
    
  }
  .home-div2 {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 140px;
    animation: pulse 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  
  .home-div2 h1 {
    font-size:55px;
    color: #8bbac7;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .home-div2 h2 {
    font-size: 34px;
    color: #ffffff;
    font-family: cursive;
    margin: 10px 0;
    text-transform: capitalize;
  }
  .home-div2 p{
    color: crimson;
  }
  


.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../Imagesvideos/NYTP.gif'); /* Adjust the path to the GIF file */
  background-size: cover;
  background-position: center;
}
.acheivements{
  text-align: center;
    background-color: #000000;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
    
}
.acheivements h1{
  color: #8bbac7;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.acheivements h5{
color: #ffffff;
font-family: cursive;
}
.tcs{
  text-align: center;
    background-color: #000000;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
}
.tcs h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8bbac7;
}
.tcs h5{
  font-family: cursive;
  color: bisque;
}
.tcs h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
   font-size: 21px;
}